body{
    font-family: 'Ubuntu', sans-serif;

}
h1{
    font-size: 45px;
    
}
h2{
    font-size: 40px;
}
#my-mission{
    margin-top: 5%;
}
}
#develop-with{
    margin-top: 10%;
}
    
    
}
.font-text-color{
    color: orangered;
}
.font-color{
    color: orange;
}
.flaxible-box{
    display: flex;
    
    
}
#border-line{
    line-height: 35px;
    padding-left: 9px;
    border-left: 4px solid;
    border-image: linear-gradient(#ff9966, #ff5e62);
    border-image-slice: 1;

}
.width-box{
    width: 50%;
    padding-top: 2%;
    padding-left: 10%;
}
.width-box img{
    width: 70%;
}


.width-mission-box{
    width: 20%;
    padding-left: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10%;
}
.width-mission-box img{
    width: 40%;
}
#Develop-limits{
    margin-top: 8%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: left bottom 50%;
}
.width-child-box{
    width: 40%;
    padding-left: 10%;
}
.width-child-box img{
    width: 80%;
    
}
#width-child-containar{
    width: 40%;
    margin: 0%;
}

.click-button{
    text-decoration: none;
    background-image: linear-gradient(#ff9966, #ff5e62  );
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 5px;
}
.items-width{
    padding-left: 10%;
}
#heading-center{
    text-align: center;
}
#misson-bg-colour{
    background-color: #FF6F61;
    
}
#vission-bg-colour{
    background-color: #6B5B95;

}  
#goal-bg-colour{
    background-color: #F7CAC9;
} 
#Global-community{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right 150px bottom 0px;
} 
#Global-C{
    width: 40%;
    padding-left: 10%;

}
.Global-k{
    width: 40%;
    
}
.Global-k img{
    width: 70%;
    margin-left: 10%;

}